.mt0 {
    margin-top: 0;
}

.layui-table-view {
    margin-top: 0;
    margin-bottom: 0;
}

.laytable-cell-checkbox {
    padding: 6px 15px;
}

.layui-form-switch {
    margin-top: 8px;
}

.edit-div {
    margin: 0px;
    padding: 15px;
    padding-right: 35px;
}

.layui-upload-img {
    width: 92px;
    height: 92px;
    margin: 0 10px 10px 0;
}

.product-img-list {
    margin-left: 110px;
    border: 1px solid #c0c0c0;
    /*height: 112px;*/
}

.product-img-list .imgDiv {
    display: inline-block;
    position: relative;
}

.product-img-list .imgDiv a.delete:hover, .product-img-list .imgDiv a.delete:focus {
    color: red;
}

.product-img-list .imgDiv a.delete {
    position: absolute;
    top: 10px;
    right: 10px;
}

.product-img-list .imgDiv img {
    margin: 10px;
}