.mt0 {
    margin-top: 0;
}

.layui-table-view {
    margin-top: 0;
    margin-bottom: 0;
}

.laytable-cell-checkbox {
    padding: 6px 15px;
}

.layui-form-switch {
     margin-top: 8px;
}

.editPt {
    margin: 0px;
    padding: 15px;
    padding-right: 35px;
}