<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rk.dao.ProductMapper">
    <resultMap id="BaseResultMap" type="com.rk.entity.Product">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="typeId" property="typeId" jdbcType="INTEGER" />
        <!--<result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>-->
        <!--<result property="number" column="number" javaType="Integer" jdbcType="VARCHAR"/>-->
        <!--<result property="startTime" column="start_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>-->
        <!--<result property="endTime" column="end_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>-->
        <!--<result property="createTIme" column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>-->
        <association property="productType" column="typeId" javaType="com.rk.entity.ProductType"
                     select="com.rk.dao.ProductTypeMapper.getProductTypeById"></association>
    </resultMap>

    <!--查询所有产品-->
    <select id="queryAll" resultMap="BaseResultMap">
        SELECT *
        FROM product
    </select>

    <select id="getProductById" resultMap="BaseResultMap">
        SELECT * FROM product WHERE id = #{id}
    </select>

    <sql id="pageWhere">
        <where>
            <![CDATA[status <> -1]]>
            <if test="queryString != null and queryString != ''">
                AND name LIKE #{queryStringPattern}
            </if>
            <if test="minPrice != null">
                AND <![CDATA[price >= #{minPrice}]]>
            </if>
            <if test="maxPrice != null">
                AND <![CDATA[price <= #{maxPrice}]]>
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </sql>

    <select id="getPageList" resultMap="BaseResultMap">
        <bind name="queryStringPattern" value="'%' + queryString + '%'"></bind>
        <bind name="offest" value="(page-1)*limit"></bind>
        SELECT * FROM product
        <include refid="pageWhere"></include>
        ORDER BY id LIMIT #{offest}, #{limit}
    </select>

    <select id="getPageListTotalCount" resultType="int">
        <bind name="queryStringPattern" value="'%' + queryString + '%'"></bind>
        SELECT count(*) FROM product
        <include refid="pageWhere"></include>
    </select>

    <insert id="insert">
        INSERT INTO product (
            name,
            image1,
            image2,
            image3,
            originPlace,
            description,
            price,
            oldPrice,
            count,
            typeId,
            createDate,
            status
        )
        VALUES
        (
            #{name},
            #{image1},
            #{image2},
            #{image3},
            #{originPlace},
            #{description},
            #{price},
            #{oldPrice},
            #{count},
            #{typeId},
            #{createDate},
            #{status}
        )
    </insert>

    <update id="update">
        UPDATE product
        <set>
            name = #{name},
            <if test="image1 != null">
                image1 = #{image1},
            </if>
            <if test="image2 != null">
                image2 = #{image2},
            </if>
            <if test="image3 != null">
                image3 = #{image3},
            </if>
            originPlace = #{originPlace},
            description = #{description},
            price = #{price},
            oldPrice = #{oldPrice},
            count = #{count},
            typeId = #{typeId},
            modifyDate = #{modifyDate},
            status = #{status}
        </set>
        WHERE
        id = #{id}


    </update>
</mapper>