<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rk.dao.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.rk.entity.UserInfo">
        <!--<result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>-->
        <!--<result property="number" column="number" javaType="Integer" jdbcType="VARCHAR"/>-->
        <!--<result property="startTime" column="start_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>-->
        <!--<result property="endTime" column="end_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>-->
        <!--<result property="createTIme" column="create_time" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>-->
    </resultMap>
    <select id="queryAll" resultMap="BaseResultMap">
        SELECT *
        FROM userInfo
    </select>
</mapper>